<article class="card mb-4">
    <div class="card-body p-0">
        {{ if not (.Scratch.Get "singlepage") }}
        <div class="card-header bg-light text-dark">
            {{ partial "frontpage-post-title.html" . }}
        </div>
        {{ end }}
        <div class="embed-responsive embed-responsive-16by9">
        {{ with .Params.youtube }}
            <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{ . }}?rel=0" frameborder="0" allowfullscreen></iframe>
        {{ end }}
        {{ with .Params.vimeo }}
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/{{ . }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {{ end }}
        </div>
    </div>
    <div class="card-text p-4">
        {{ partial "post-content" . }}
    </div>
</article>
    